[submodule ".biberconf/thirdparty/bash-git-prompt"]
    path = .biberconf/thirdparty/bash-git-prompt
    url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".biberconf/thirdparty/stderred"]
    path = .biberconf/thirdparty/stderred
    url = https://github.com/ku1ik/stderred.git
[submodule ".biberconf/thirdparty/hstr"]
    path = .biberconf/thirdparty/hstr
    url = https://github.com/bibermann/hstr.git
    branch = tweak-prompt
