[core]
    editor = vim
[color]
    ui = true
[diff]
    tool = meld
[merge]
    tool = kdiff3
[mergetool]
    keepBackup = false
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
